extends template
block variables
	-	var title = 'Главная страница'
block content

	include mixins/imageBlock
	+createImageBlock("img/high.jpg")(width='100%')
	div.rrr
		.rowFlex
			.post
				+createImageBlock("img/11.jpg")(width='50%')
				p Мы предоставляем качественные услуги записи, сведения, создания музыки. Мы предоставляем качественные услуги записи, сведения, создаки. 
			.post
				+createImageBlock("img/22.jpg")(width='50%')
				p Мы предоставляем качественные услуги записи, сведения, создания инструмаенталов.  Мы предоставляем качественные услуги записи, сведя музыки.                          
			.post
				+createImageBlock("img/44.jpg")(width='50%')
				p Мы предоставляем качественные услуги записи, сведения, создания инструмаенталов.Мы предоставляем качественные услуги записи, свея музыки. 
			.post
				+createImageBlock("img/31.jpg")(width='50%')
				p Мы предоставляем качественные услуги записи, сведения, создания инструмаенталов.Мы предоставляем качественные услуги записи, св музыки. 

